@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: Poppins, sans-serif;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form .search-bar{
  height: 50px;
  width: 50%;
  border-radius: 50px;
  border: none;
}

.search-form .search-button{
  color:white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: rgba(255, 166, 0, 0.493);
  border: solid 2px orange;
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipes h1{
  color: #3b2821;
}

.singlerecipe{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.singlerecipe img{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

